* {
   box-sizing: border-box;
}
body {
   margin: 0;
   padding: 2em;
   font-family: 'Roboto', sans-serif;
   background: #b5e8e1; 
   color: #43686e;
}

img {
   width: 100%;
   max-width: 300px;
   height: auto;
   display: block;
   border-radius: 10px;
}


h1,h2 {
   margin-top: 0;
}

h1 {
   font-size: 3rem;
}

h2 {
   font-size: 2,75rem;
}

p {
   font-size:1.25rem;
}

/*Form*/
input {
   margin: 0.5em 0;
   padding: 0.5em;
   border-radius: 10%;
   border:none;
   color:#43686e;
   font-family: inherit;
   font-size: 1rem;
}

input:hover,
input:focus {
   outline:none;
}

label,
form p {
   font-size: 1.15rem;
   font-weight: 700;
}
.period {
   max-width:55px;
}

.weather {
   font-weight: 400;
}


/*Buttons*/
.btn {
   display:block;
   font-weight: bold;
   font-family: inherit;
   background: white;
   color:#43686e;
   font-size: 1rem;
   padding: 0.5em 1em;
   margin-bottom: 1em;
   border-radius: 5%;
   border: none;
   cursor: pointer;
}

.btn:focus,
.btn:hover {
   background:#43686e;
   color: white;
}


/*Layout */


/* Media Queries */

@media(min-width:600px){
  
   .wrapper {
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      padding: 0 2em;  
   }

   .image-container {
      align-self: center;
   }

   img{
      max-width: 100%; 
      height: auto; 
      }
   }

@media(min-width:1000px){
   h1{
      font-size: 4rem;
   }
      
   .home-page h2 {
      font-size: 3rem;
   }
      
   .home-page p {
      font-size:2rem;
   }
   
   .btn {
      font-size: 1.25rem;
   }

   label,
   form p {
      font-size: 1.5rem;
   }
}